/* --- ESTILOS DEL AVATAR --- */
.avatar-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.astrit-avatar {
    width: 280px;
    height: 280px;
    filter: drop-shadow(0px 10px 15px rgba(177, 156, 217, 0.4));
}